@font-face {
    font-family: BMJUA;

    font-display: fallback;
    src: url("./BMJUA.eot?iefix") format("embedded-opentype"), url("./BMJUA_ttf.ttf")
    format("truetype");
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
}